html{
    scroll-behavior: initial;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    
}
* , *:before,*:after{
    box-sizing: border-box;
    /*unselectable text*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 30px;
}
.gradient_title{
    font-size: 45px;
    font-weight: 600;
    padding-bottom: 30px;
    text-transform: uppercase;
    background: linear-gradient(to right, #0de093  10%, #00d7c5  30%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/***********************************************header***********************************************/
.header{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header .container{
    display: flex;
    align-items: center;
}
.header__nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
}
.header__nav li{
    float: left;
}
.header_link{
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 20px;
    transition: background-color .1s linear;
    text-transform: capitalize;
    cursor: pointer;
}
.header_link:hover{
    background-color: #000;
}
.header__active{
    background-color: #1dd9a5;
    transition: all .3s ease-in;
}
.header__active:hover{
    background-color: #00d7bb;
}
.header__fixed{
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0 2px 1px -2px #00d7bb;
    animation-name: header_op;
    animation-duration: .5s;
}
.header__show{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    animation-name: header_op;
    animation-duration: .5s;
}
@keyframes header_op {
    from {opacity: 0;}
    to {opacity: 1;}
}
.header__show .header__nav{
    display: flex;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}
.header__show .header__nav .header_link{
    width: 250px;
}

/*burger*/
.burger__open, .burger__close{
    position: absolute;
    right: 50px;
    top: 15px;
    color: white;
    font-size: 35px;
    display: none;
    cursor: pointer;
}


/***********************************************intro***********************************************/
.intro{
    height: 100vh;
    background-image:  linear-gradient(to right, rgba(57, 246, 184, 0.8), rgba(61, 248, 239, 0.7)),
    url('img/hero.jpg');
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro__inner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: left;
}
.intro__subtitle{
    font-size: 84px;
    font-weight: 300;
}
.intro__text{
    font-size: 28px;
    font-weight: 300;
}

/***********************************************hero***********************************************/
.hero{
    background-color: #22252c;
    padding: 180px 0;
    color: white;
}
.hero .container{
    display: flex;
    flex-wrap: wrap;
}
.hero__item{
    width: 50%;
}
/***********************************************hero_image***********************************************/
.hero__image{
    text-align: center;
    display: inline-block;
    position: relative;
    top: 10%;
}
.hero__image img{
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: auto;
}
.hero__image::before {
    position: absolute;
    top: -10%;
    right: -10%;
    width: 100%;
    height: 100%;
    border: 7px solid #00d7bb;
    content: '';
  }
.hero__resume{
    position: relative;
    right: 10%;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.hero__resume-btn{
    padding: 20px 30px;
    margin: 3px;
    border: none;
    background-image: linear-gradient(to right, #00d7c5  20%, #0de093  50%);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all .1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.hero__resume-btn:hover{
    padding: 23px 33px;
    margin: 0;
    text-decoration: none;
}
.svg_icon{
    display: block;
    fill: #fff;
    height: 15px;
    font-size: 20px;
    padding-right: 5px;
}
/***********************************************hero_about***********************************************/
.hero__text{
    font-size: 14px;
    font-weight: 300;
    color: white;
    letter-spacing: 1.5;
}
.hero__about{
    font-size: 18px;
    font-weight: 400;
    color: white;
    letter-spacing: 1.3;
    text-transform: capitalize;
}
.hero__about strong{
    color: #00d7bb;
    text-transform: uppercase;
}
/***********************************************interests***********************************************/
.hero__interests{
    width: 100%;
    margin-top: 150px;
}
.interests{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.interests__row{
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.interests__item{
    width: 95px;
    height: 95px;
    border: 3px solid #06b6a1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background: transparent;
    justify-content: center;
    transition: background-color .3s ease;
    position: relative;
}
.interests__item:hover{
    background-color: #06b6a1;
}
.interests__item:hover .interests_icon{
    -webkit-text-fill-color:#fff;
}
.interests__item:hover .interests__title{
    opacity: 1;
}
.interests_icon{
    font-size: 45px;
    background: linear-gradient(to right, #0de093  10%, #00d7c5  30%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all .3s linear;
}
.interests__title{
    opacity: 0;
    position: absolute;
    top: 100px;
    font-size: 25px;
    font-weight: 300;
    transition: opacity .2s linear;
}

/***********************************************education***********************************************/
.education{
    background-color: #313741;
    text-align: center;
    padding: 180px 0;
    color: white;
}
.timeline{
    width: 100%;
    margin-top: 140px;
    position: relative;
}
.icon__up{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 30px;
    color: #00d7bb;
    z-index: 100;
    padding: 10px;
    border: 3px solid #00d7bb;
    border-radius: 50%;
    display: flex;
    margin-left: -30px;
    margin-top: -60px;
}
.icon__down{
    position: absolute;
    top: 100%;
    z-index: 100;
    left: 50%;
    color: #00d7bb;
    font-size: 16px;
    margin-left: -8px;
    margin-top: -8px;

}
.timeline__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 210px;
    padding-top: 40px;
}
.timeline__item::after{
    content: '';
    width: 4px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    margin-left: -2px;
    background-color: #00d7bb;
    z-index: 1;
}
.item__icon{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -20px 0 0 -13px;
    z-index: 10;
    font-size: 26px;
    color: #00d7bb;
    background-color: #313741;
}
.item__left, .item__right{
    width: 50%;
    padding: 30px;
}
.item__left{
    position: absolute;
    left: 0;
    text-align: right;
}
.item__right{
    position: absolute;
    right: 0;
    text-align: left;
}
.item__title{
    font-size: 27px;
    color: #00d7bb;
    text-transform: uppercase;
}
.item__date{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.item__date span{
    text-transform: capitalize;
}
.item__text{
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

/***********************************************experience***********************************************/
.experience{
    background-color: #22252c;
    text-align: center;
    padding: 180px 0 70px;
    color: white;
}
.bg__experience{
    background-color: #22252c;
}

/***********************************************personal***********************************************/
.personal{
    width: 100%;
    background-color: #22252c;
    text-align: center;
    padding-top: 180px;
}
.personal .gradient_title{
    padding-bottom: 100px;
}

/***********************************************skills***********************************************/
.skills{
    background-color: #313741;
    display: flex;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.skills__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: space-between;
}
.skills__item{
    width: 45%;
    padding: 30px 0;
}
.skills__title{
    position: relative;
    text-transform: uppercase;
    text-align: left;
}
.skills__percent{
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: -35px;
    font-weight: 200;
}
.skills__slider{
    width: 100%;
    height: 6px;
    background-color: #0f1012;
    margin-top: 10px;
    position: relative;
}
.skills__slider::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 6px;
    background-color: #00d7bb;
}
.skills__slider::after{
    content: "";
    position: absolute;
    top: 0;
    left: 90%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00d7bb;
    margin: -2px 0 0 -5px;
    border: 1px solid gray;
}

/***********************************************works***********************************************/
.works{
    background-image:  linear-gradient(to right, rgba(57, 246, 184, 0.8), rgba(61, 248, 239, 0.7)),url("img/backgroud.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.works__content{
    padding: 100px 0 70px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.works__item{
    width: 30%;
    height: auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    color: #00d7bb;
}
.works__item:hover > .works__card{
    opacity: 1;
}
.works__image{
    object-fit: cover;
    width: 100%;
    height: auto;
}
.works__card{
    position: absolute;
    top: 0;
    left: 0;
    margin: 5%;
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 90%;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 300;
    transition: opacity .3s;
    opacity: 0;
}
.works__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    height: 75%;
    font-weight: 100;
    opacity: 1;
}
.works__title{
    font-size: 21px;
    color: #000;
    opacity: 1;
}
.works__subtitle{
    font-size: 14px;
    opacity: 1;
    font-weight: 600;
}
.works__item:hover{
    cursor: pointer;
}

/***********************************************blocks***********************************************/
.blocks{
    text-align: center;
    background-color: #22252c;
    color: white;
    padding-top: 140px;
}
.blocks__content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 70px;
    flex-direction: row;
}
.blocks__item{
    text-align: left;
    padding: 40px 30px;
    width: 30%;
    min-height: 370px;
    background-color: #313741;
}
.item__active{
    width: 33%;
    padding: 40px;
    background-color: #00d7bb;
    min-height: 400px;
}
.blocks__number{
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}
.blocks__title{
    font-size: 24px;
    color: #00d7bb;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.item__active .blocks__title{
    color: black;
}
.blocks__text{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5s;
}

/***********************************************contact***********************************************/
.contact{
    background-color: #22252c;
    color: white;
    padding: 160px 0;
    text-align: center;
}
.contact__form{
    width: 100%;
    padding-top: 100px;
}
.contact__row{
    width: 100%;
    display: flex;
    position: relative;
}
.contact__rel{
    width: 50%;
    position: relative;
    margin: 15px;
}
.contact__arr{
    position: relative;
    margin: 15px;
    width: 100%;
}
.contact__label{
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #02cfb4;
    opacity: 0;
}
.contact__input:focus + .contact__label{
    opacity: 1;
    transition: opacity .3s;
    animation-name: label_top;
    animation-duration: .3s;
}
@keyframes label_top {
    from {top: 0;}
    to {top: -10;}
}
.contact__input{
    width: 100%;
    padding: 10px 0;
    border-style: none none solid none;
    border-width: 2px;
    border-color: #8491a2;
    color: #8491a2;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
}
.contact__input:focus{
    outline: none;
    border-color:#00d7bb;
}
.contact__input:focus::-webkit-input-placeholder { opacity: 0; transition: opacity .2s;} /* Chrome <=56, Safari < 10 */
.contact__input:focus:-moz-placeholder { opacity: 0; transition: opacity .2s;} /* FF 4-18 */
.contact__input:focus::-moz-placeholder { opacity: 0; transition: opacity .2s;} /* FF 19-50 */
.contact__input:focus:-ms-input-placeholder { opacity: 0; transition: opacity .2s;} /* IE 10+ */
.contact__input:focus::placeholder { opacity: 0; transition: opacity .2s;} /* Modern Browsers */
.contact__textarea{
    resize: none;
    height: 200px;
}
::placeholder {
    color: #8491a2;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.contact__button{
    margin-top: 55px;
    width: 180px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #00d7bb;
    color: #00d7bb;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .1s;
}
.contact__button:hover{
    background-color: #3d414c;
}

/***********************************************download***********************************************/
.download{
    background-color: #02cfb4;
    padding: 55px 30px;
    color: black;
    text-align: center;
    overflow: hidden;
}
.download__body{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.download__icon{
    width: 5%;
    font-size: 50px;
    margin-top: -10px;
    text-align: right;
}
.download__content{
    width: 70%;
}
.download__title{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.download__text{
    font-size: 14px;
    padding: 0;
    margin: 0;
    font-weight: 500;
}
.download__button{
    width: 20%;
}
.d__button{
    width: 180px;
    height: 50px;
    background-color: #22252c;
    color: #00d7bb;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color .1s linear;
}
.d__button:hover{
    background-color: #3d414c;
}

/***********************************************footer***********************************************/
.footer{
    background-color: #22252c;
    padding-top: 150px;
}
.footer__social{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 70px;
}
.footer__icon{
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #00d7bb;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #3d414c;
    cursor: pointer;
    transition: all .1s linear;
}
.footer__icon:hover{
    background-color: #00d7bb;
    color: #22252c;
}
.footer__social::after{
    width: 100%;
    height: 1px;
    background-color: #3d414c;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
}
.footer__text{
    margin: 30px 0 15px 0;
    text-align: center;
    color: #00d7bb;
    font-size: 14px;
    text-transform: uppercase;
}



/*
==================================================================================
========================================= Media =========================================
==================================================================================
*/

/*computer*/
@media (max-width : 1221px){
    /*download*/
    .download__body{
        flex-wrap: wrap;
        position: relative;
    }
    .download__content{
        width: 90%;
    }
    .download__content{
        width: 90%;
    }
    .download__button{
        width: 100%;
        margin-top: 20px;
    }
    .download__icon{
        width: 10%;
        text-align: right;
    }
}

/*laptop*/
@media (max-width : 990px){
    /*header*/
    .header{
        padding: 25px;
    }
    .header__nav{
        display: none;
    }
    /*hero*/
    .hero{
        padding: 130px 0;
    }
    .hero__item{
        width: 100%;
    }
    .hero__image{
        margin-left: -5%;
        max-width: 95%;
    }
    ._image{
        text-align: center;
    }
    .hero__resume{
        position: static;
        padding-bottom: 50px;
    }
    .hero__interests{
        margin: 70px 0 20px 0;
    }
    .interests{
        margin-top: 20px;
    }
    .interests__item{
        width: 85px;
        height: 85px;
    }
    .interests__icon{
        font-size: 40px;
    }
    .interests__title{
        top: 90px;
    }
    /*education*/
    .education{
        padding: 130px 0;
    }
    .item__date{
        font-style: italic;
    }
    /*timelane*/
    .timeline{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin-top: 0;
    }
    .icon__up, .icon__down{
        left: 10%;
    }
    .item__icon, .timeline__item::after{
        left: -12.5%;
    }
    .timeline__item{
        flex-wrap: wrap;
        width: 80%;
    }
    .item__left, .item__right{
        text-align: left;
        width: 100%;
        padding: 0;
        position: static;
    }
    .gradient_title{
        padding: 0;
    }
    /*experience*/
    .experience{
        padding: 130px 0 50px;
    }
    .experience .container, .education .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
    }
    .experience .gradient_title, .education .gradient_title{
        width: 80%;
    }
    /*personal*/
    .personal{
        padding-top: 130px;
    }
    .personal .gradient_title{
        padding-bottom: 85px;
    }
    /*skills*/
    .skills__content{
        margin: 20px 0;
    }
    .skills__item{
        padding: 25px 0;
        width: 46%;
    }
    /*blocks*/
    .blocks{
        padding-top: 80px;
    }
    .blocks__content{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
    }
    .blocks__item{
        padding: 40px 100px;
        width: 95%;
        min-height: auto;
    }
    .item__active{
        width: 100%;
        min-height: 300px;
    }
    /*works*/
    .works__content{
        padding: 70px 0 35px;
    }
    .works__item{
        margin-bottom: 25px;
        width: 45%;
    }
    /*contact*/
    .contact{
        padding: 150px 0;
    }
    .contact__form{
        padding-top: 90px;
    }
    /*download*/
    .download__content{
        width: 100%;
    }
    .download__icon{
        display: none;
    }
    /*footer*/
    .footer{
        padding-top: 120px;
    }
}

/*tablet*/
@media (max-width : 765px){
    /*intro*/
    .intro__subtitle{
        font-size: 55px;
    }
    /*hero*/
    .hero{
        padding: 130px 0 70px 0;
    }
    /*interests*/
    .interests{
        justify-content: center;
    }
    .interests__item{
        margin: 0 50px 50px 0;
    }
    .interests__title{
        top: 85px;
    }
    .gradient_title{
        font-size: 40px;
    }
    /*skills*/
    .skills__item{
        width: 100%;
    }
    .blocks__item{
        padding: 30px;
    }
    /*works*/
    
}

/*smartphone*/
@media (max-width : 500px){
    /*hero*/
    .hero{
        padding: 70px 0 50px 0;
    }
    .hero__about{
        font-size: 15px;
    }
    .hero__interests{
        display: none;
    }
    /*gradient_title*/
    .gradient_title{
        font-size: 30px;
    }
    /*education*/
    .education, .experience{
        padding: 70px 0 30px;
    }
    .education .gradient_title, .experience .gradient_title{
        width: 100%;
    }
    .icon__up, .icon__down, .item__icon, .timeline__item::after {
        display: none;
    }
    .item__title{
        font-size: 22px;
    }
    .item__date{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .timeline__item{
        width: 100%;
        height: auto;
    }
    /*personal*/
    .personal{
        padding-top: 80px;
    }
    .personal .gradient_title{
        padding-bottom: 35px;
    }
    /*skills*/
    .skills__content{
        margin: 0;
    }
    .skills__item {
        padding: 20px 0;
    }
    /*blocks*/
    .blocks{
        padding-top: 25px;
    }
    .blocks__item{
        width: 100%;
        padding: 15px;
        min-height: auto;
    }
    .blocks__text {
        /*font-size: 13px;*/
        margin-bottom: 15px;
    }
    .blocks__title {
        font-size: 21px;
        margin-bottom: 10px;
    }
    .blocks__number {
        font-size: 25px;
        margin-bottom: 20px;
    }
    /*works*/
    .works__content{
        padding: 10px 0 0 0;
    }
    .works__item{
        width: 90%;
    }
    /*contact*/
    .contact {
        padding: 100px 0 0;
    }
    .contact__form {
        padding-top: 75px;
    }
    /*download*/
    #s_download{
        padding: 100px 0 0;
        background-color: #22252c;
    }
    .download{
        padding: 0;
    }
    .download__title{
        font-size: 20px;
    }
    /*footer*/
    .footer__social{
        flex-wrap: wrap;
    }
    .footer{
        padding-top: 75px;
    }
}